<link href="#" rel="stylesheet" />

<div id="HomeTeachingBoard" ng-controller="HomeTeachingBoardController">

    <div id="MenuBar">
        <div id="LeftMenuButtons">
            <div class="btn-group active">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">File</button>
                <ul class="dropdown-menu">
                    <!--<li><a data-target="#HTBSaveModal" data-toggle="modal">Open...</a></li>-->
                    <li><a ng-click="save()" id="Save">Save</a></li>
                    <li><a ng-click="load()" id="Load">Load</a></li>
                    <!--<li><a id="SaveAs">Save as...</a></li>-->
                </ul>
            </div>
        </div>
        <div id="RightMenuButtons">
            <button id="CloseButton">&times;</button>
        </div>
    </div>
    <div id="HTBDistricts">
        <div class="htb-district" ng-repeat="district in districts">
            <h2 class="htb-district-name">{{district.name}}</h2>
            <h5 class="htb-district-leader">{{district.districtLeader}}</h5>
            <div class="htb-companionships" droppable="companionship">
                <div class="htb-companionship clearfix" ng-class="{ 'moved': companionship.moved }" ng-repeat="companionship in district.companionships" droppable="teacher assignment" draggable="companionship">
                    <div class="htb-teachers">
                        <div class="htb-teacher" ng-class="{ 'moved' : teacher.moved }" ng-repeat="teacher in companionship.teachers" draggable="teacher">
                            {{teacher.name}}
                        </div>
                    </div>
                    <div class="htb-assignments">
                        <div class="htb-assignment" ng-class="{ 'moved' : assignment.moved }" ng-repeat="assignment in companionship.assignments" draggable="assignment">
                            {{assignment.name}}
                        </div>
                    </div>
                </div>
                <div class="htb-companionship clearfix new" droppable="teacher assignment">

                </div>
            </div>
        </div>
    </div>

    <div id="HTBUnassignedTeachers" droppable="teacher">
        <h2>Unassigned Home Teachers</h2>
        <p>
            <label>
                <input type="checkbox" ng-model="showHiddenTeachers" />
                Show Hidden
            </label>
        </p>
        <div class="htb-unassigned-teacher hoverable" ng-repeat="unassignedTeacher in unassignedTeachers" draggable="teacher" ng-hide="unassignedTeacher.hidden && !showHiddenTeachers">
            {{unassignedTeacher.name}}
            <a class="pull-right hover-show" ng-click="toggleTeacherVisibilityClicked(unassignedTeacher)">
                <span ng-hide="unassignedTeacher.hidden">Hide</span>
                <span ng-hide="!unassignedTeacher.hidden">Unhide</span>
            </a>
        </div>
    </div>

    <div id="HTBUnassignedHouseholds" droppable="assignment">
        <h2>Unassigned Households</h2>
        <p>
            <label>
                <input type="checkbox" ng-model="showHiddenHouseholds" />
                Show Hidden
            </label>
        </p>
        <div class="htb-unassigned-household hoverable" ng-repeat="unassignedHousehold in unassignedHouseholds" draggable="assignment" ng-hide="unassignedHousehold.hidden && !showHiddenHouseholds">
            {{unassignedHousehold.name}}
            <a class="pull-right hover-show" ng-click="toggleHouseholdVisibilityClicked(unassignedHousehold)">
                <span ng-hide="unassignedHousehold.hidden">Hide</span>
                <span ng-hide="!unassignedHousehold.hidden">Unhide</span>
            </a>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="HTBSaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Save Board</h4>
            </div>
            <div class="modal-body">
                Some stuff here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>